:root {
  --twitter: #1da1f2;
  --user: #f472b6;
  --hastag: #1e40af;
}
* {
  box-sizing: border-box;
}
a.hashtag {
  color: var(--hastag);
}
a.user {
  color: var(--user);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar span.logo {
  color: var(--twitter);
  font-weight: bold;
  font-size: 1.6rem;
}
.nav-logo {
  max-width: 50px;
  height: auto;
}

footer {
  margin-top: auto;
  box-sizing: border-box;
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--twitter);
}
.footer-logo > img {
  max-width: 20px;
  height: auto;
}

/* TWITTER-CARD */
.twitter-card {
  width: 22rem;
}
.twitter-card h5 {
  margin-bottom: 0;
}
.twitter-card time {
  display: block;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.7em;
}

.card-img-top-perso {
  height: 0;
  padding-top: 33.33%;
  margin-bottom: -44px;

  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-footer > span {
  margin-right: 1em;
}
.card-footer .mdi::before {
  margin-right: 0.2em;
}
@media (max-width: 1140px) {
  .twitter-card {
    width: 31%;
  }
}
@media (max-width: 768px) {
  .twitter-card {
    width: 47%;
  }
}

@media (max-width: 576px) {
  .twitter-card {
    width: 100%;
  }
}
