:root {
  --twitter: #1da1f2;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
}

.navbar span.logo {
  color: var(--twitter);
  font-weight: bold;
  font-size: 1.6rem;
}
.nav-logo {
  max-width: 50px;
  height: auto;
}

footer {
  margin-top: auto;
  box-sizing: border-box;
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--twitter);
}
.footer-logo > img {
  max-width: 20px;
  height: auto;
}

.card-img-top-perso {
  height: 0;
  padding-top: 33.33%;
  margin-bottom: -44px;

  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.twitter-card {
  max-width: 31%;
  min-width: 18rem;
}
.card-footer > span {
  margin-right: 1em;
}
.card-footer .mdi::before {
  margin-right: 0.2em;
}
